
.App {
  text-align: center;
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.card {
  min-height: 300px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 20px;
}

.details {
  width: 70%;
  justify-content: start;

}

.button {
  width: 100px;
}

.image {
  width: 20%;
  justify-content: end;
}

.image_url {
  width: 50px;
  height: 200px;
}